.confirmar-pagamento {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}
.confirmar-pagamento:hover {
  background-color: #45a049;
}
